<!DOCTYPE html>
<html>

<head>
    <title>Vue Tutorial</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="./src/libs/script/jquery.js"></script>
    <script src="./src/libs/script/vue.js"></script>
    <script src="./src/libs/script/popper.js"></script>
    <script src="./src/libs/script/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="./src/libs/styles/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="./src/libs/styles/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./src/styles/styles.css">
</head>

<body>
    <header>
        <nav id="title" class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="navbar-brand" v-if="visible">{{title}}</div>
            <div class="navbar-brand" v-else>Vue</div>
        </nav>
    </header>
    <section>
        <div id="root">
            <div v-on:click="handleAlert">
                Test
            </div>
        </div>
        <div id="lists">
            <ol>
                <list-item v-for="item in sourceList" v-bind:list="item" v-bind:key="item.id">
                </list-item>
            </ol>
            <ul>
                <list-item v-for="item in sourceList" v-bind:list="item" v-bind:key="item.id">
                </list-item>
            </ul>
        </div>
        <div id="modernlist">
            <modern-item v-for="item in modernList" v-bind:list="item" v-bind:key="item.id"></modern-item>
        </div>
    </section>
    <footer>
        <custom-footer></custom-footer>
    </footer>
    <script src="./src/script/index.js"></script>
    <script src="./src/script/components/list/listItem/list-item.js"></script>
    <script src="./src/script/components/list/modernList/modern-item.js"></script>
    <script src="./src/script/components/includes/header/header.js"></script>
    <script src="./src/script/components/includes/footer/footer.js"></script>
</body>

</html>